// colors
$primaryColor: #13a868;
$primaryColorDarker: #108351;
$primaryFontColor: #222222;
$lightPrimaryColorFont: #b7d3c7;
$white: #fff;
$black: #000;
$lightGrey: lightgrey;
$grey: grey;
$darkGrey: rgb(82, 82, 82);
$error: #dd1b1b;
$iconColorLight: #f3f3f3f3;
$iconColoDark: #121212;

$hoverShadow: rgba(0, 0, 0, 0.2);
